/Schoolnest/Schoolnest/.env
Schoolnest/Schoolnest/.env
Schoolnest/Schoolnest/bin/.env
Schoolnest/.vs/Schoolnest/FileContentIndex/15caff1e-8629-4e2c-b06e-d1f3b16e60df.vsidx
Schoolnest/.vs/Schoolnest/FileContentIndex/58b28027-fc7c-4791-9cdc-c70027737d81.vsidx
Schoolnest/.vs/Schoolnest/FileContentIndex/7827cc74-860c-43b2-be93-5d51194c22e3.vsidx
